$headingColor:#5c2568;
.container {
    padding: 40px;
}

h1 {
    text-align: center;
    color: $headingColor;
    font-weight: 500;
    font-weight: normal;
  }
  .form-button{
    text-align: right;
  }
  table {
    width: 100%;
  }
  
  
  tr.student-detail-row {
    height: 0;
  }
  
  tr.student-element-row:not(.student-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.student-element-row:not(.student-expanded-row):active {
    background: #efefef;
  }
  
  .student-element-row td {
    border-bottom-width: 0;
  }
  
  .student-element-detail {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: inset 1px 2px 5px #c1c1c1;

  }
  
  .student-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .student-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .student-element-description {
    padding: 16px;
  }
  
  .student-element-description-attribution {
    opacity: 0.5;
  }

