<div class="container">
    <div class="row">
        <div class="col-lg-12">
           <h1>All Activities</h1>
        </div>
        <div class="col-lg-12">

            <mat-form-field appearance="standard">
              <mat-label>Filter Activity</mat-label>
              <input matInput  placeholder="Ex. ium" #input (keyup)="applyFilter($event)">
            </mat-form-field>

            <table mat-table [dataSource]="dataStudentsList" multiTemplateDataRows class="mat-elevation-z8 demo-table">
                
              <ng-container matColumnDef="Category">
                <th mat-header-cell *matHeaderCellDef> Category </th>
                <td mat-cell *matCellDef="let element"> 
                  <span *ngIf="element.categoryName != ''">{{element.categoryName}}</span> 
                  <span *ngIf="element.otherCategory !=''">{{element.otherCategory}}</span>
                </td>
              </ng-container>
          
              <ng-container matColumnDef="Activity">
                <th mat-header-cell *matHeaderCellDef> Activity </th>
                <td mat-cell *matCellDef="let element"> 
                  <span *ngIf="element.activityName != ''">{{element.activityName}}</span>
                  <span *ngIf="element.otherActivity">{{element.otherActivity}}</span> 
                 </td>
              </ng-container>
          
          
              <ng-container matColumnDef="Position">
                <th mat-header-cell *matHeaderCellDef> Position </th>
                <td mat-cell *matCellDef="let element"> 
                  <span *ngIf="element.positionName != ''">{{element.positionName}}</span>
                  <span *ngIf="element.otherPosition != ''">{{element.otherPosition}}</span> 
               </td>
              </ng-container>
          
              <ng-container matColumnDef="StudentLIFE">
                <th mat-header-cell *matHeaderCellDef> StudentLIFE </th>
                <td mat-cell *matCellDef="let element"> 
                  <mat-chip-list aria-label="Fish selection">
                      <mat-chip color="primary" selected *ngIf="element.studentLifeApproved == 1">Approved</mat-chip>
                      <mat-chip color="warn" selected *ngIf="element.studentLifeApproved == 0">Pending</mat-chip>
                  </mat-chip-list>
               </td>
              </ng-container>
          
              <ng-container matColumnDef="View">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                  <a mat-button (click)="element.isExpanded = !element.isExpanded"><mat-icon>view_headline</mat-icon></a>
                  <a mat-button (click)="delete(element.id)"><mat-icon>delete_outline</mat-icon></a>
                   
                    <a mat-button  matTooltip="View form detail" *ngIf="element.commentCountDTO == '' ">
                    <mat-icon matBadgeColor="accent" [routerLink]="['/update-mctform', element.id]">assignment icon</mat-icon>
                    </a>
 
                  <ng-container *ngFor="let c of element.commentCountDTO">
                  
                    <a mat-button  matTooltip="Supervisor comment on your Form" *ngIf="c.TotalSuperVisorComment != 0">
                    <mat-icon matBadge={{c.TotalSuperVisorComment}} matBadgeColor="accent" [routerLink]="['/update-mctform', element.id]">assignment icon</mat-icon>
                   </a>
                   
                  <a mat-button  matTooltip="StudentLIFE comment on your Form" *ngIf="c.TotalStudentLifeComment != 0">
                    <mat-icon matBadge={{c.TotalStudentLifeComment}} matBadgeColor="accent" [routerLink]="['/update-mctform', element.id]">assignment icon</mat-icon>
                  </a>
                 </ng-container>
              
                </td>
              </ng-container>

              <!-- Template for details row -->
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedStudentsColumnsList.length">
                  <div class="row student-element-detail" [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'">
                    <div *ngIf="element.internalExternal == '1'">
                    <mat-list>
                      <mat-list-item *ngFor="let subject of element.internalDTO">
                        <div mat-line><h3>Supervisor Details</h3></div>
                        <div mat-line><p>supervisorName: {{subject.supervisorName}}</p></div>
                        <div mat-line><p>supervisorDepartment: {{subject.supervisorDepartment}}</p></div>
                        <div mat-line><p>supervisorEmail: {{subject.supervisorEmail}}</p></div>
                        <mat-chip-list aria-label="Fish selection">
                        <mat-chip color="primary" selected *ngIf="element.supervisorApproved == 1">Approved</mat-chip>
                        <mat-chip color="warn" selected *ngIf="element.supervisorApproved == 0">Pending</mat-chip>
                       </mat-chip-list>
                      </mat-list-item>
                    </mat-list>
                  </div>
                  <div *ngIf="element.internalExternal != '1'">
                    <mat-list>
                      <mat-list-item *ngFor="let subject of element.externalDTO">
                        <div mat-line><h3>External Activity Details</h3></div>
                        <div mat-line><p>organizationName: {{subject.organizationName}}</p></div>
                        <div mat-line><p>webAddress: {{subject.webAddress}}</p></div>
                        <div mat-line><p>countryName: {{subject.countryName}}</p></div>
                        <div mat-line><p>stateName: {{subject.stateName}}</p></div>
                        <div mat-line><p>cityName: {{subject.cityName}}</p></div>
                        <mat-chip-list aria-label="Fish selection">
                        <mat-chip color="primary" selected *ngIf="element.supervisorApproved == 1">Approved</mat-chip>
                        <mat-chip color="warn" selected *ngIf="element.supervisorApproved == 0">Pending</mat-chip>
                       </mat-chip-list>
                      </mat-list-item>
                    </mat-list>
                  </div>
                  </div>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedStudentsColumnsList;sticky: true"></tr>
              <tr mat-row *matRowDef="let element; columns: displayedStudentsColumnsList;" class="student-element-row"
                [class.student-expanded-row]="element.isExpanded"></tr>
          
              <!-- Extra row to show detail content column -->
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="student-detail-row"></tr>
            </table>
            <br>
          </div>
      
        <div class="col-lg-08 form-button">
            <button mat-flat-button  color="primary" (click)="gotoMCTForm()">goto MCT activity form</button>         
        </div>
    </div>
</div>