<!-- <app-header></app-header> -->
<div class="container">
    <div class="row">
         <div class="col-lg-12">
            <h1>Meta-curricular Transcript (MCT) Update Form</h1>
         </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
         <app-comment [id]="id"></app-comment>
        </div>
    </div>
    <br>
    <form [formGroup]="MCTActivitiesFormGroup" (ngSubmit)="onUpdate()">
    <div class="row">
        <div class="col-lg-12">
        <app-form formGroupName="MctBasicForm"></app-form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <mat-radio-group formControlName="EventLocation">
                <mat-radio-button [checked]=this.radiostatusInternal value=1 (click)=activityLocationInternal(1)>INTERNAL</mat-radio-button>
                <mat-radio-button [checked]=this.radiostatusExternal value=2 (click)=activityLocationExternal(2)>EXTERNAL</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <app-internal *ngIf="isShow==1" formGroupName="InternalBasicFrom"></app-internal>
            <app-external *ngIf="isShow==2" formGroupName="ExternalBasicFrom"></app-external>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" mat-raised-button color="primary">Update</button>
        </div>
    </div>
    </form>
</div>
