
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover{
    text-decoration: none;
}
a{
    text-decoration: none;
}


/* Stellic Rigth Section */
section.settlic-main {
    padding: 0 22px 0 39px;
    height: 100vh;
    display: flex;
    align-items: center;
}
.login-btn {
    padding: 8px 33px;
    background: #5d2468;
    color: #fff;
    font-size: 16px;
    border: 1px solid transparent;
    transition: all 0.5s;
    border-radius:0%;
}
.login-btn:hover {
    box-shadow: 0 49px 0 0 inset #fff;
    border: 1px solid #5d2468;
    color: #5d2468;
}
.setllic-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.setllic-right .stellic-logo {
    padding: 40px 0 30px; 
    width: 45%;
}
a.main-logo {
    display: flex;
    justify-content: center;
}
.setllic-right p {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding: 0 10% 30px;
    color: #5d2468;
}
.setllic-left img{
    width: 100%;
}
.logos-area {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 60px;
}
.setllic-left:after {
    content: '';
    width: 100%;
    height: 100%;
    left: -17px;
    background: #5d2468;
    position: absolute;
    top: 17px;
    z-index: -1;
    transition: all 0.5s;
    cursor: pointer;
}
/* .setllic-left:hover:after{
    left: 17px;
} */
.setllic-left {
    position: relative;
}
.setllic-right h1 {
    font-size: 21px;
    font-weight: 700;
    padding-bottom: 15px;
    color: #5d2468;
    text-align: center;
    line-height: 26px;
}
.powerd-area p {
    color: #5d2468;
    font-size: 12px;
    text-align: center;
    position: relative;
    top: 20px;
}
.resp-dir {
    /* align-items: center; */
}


/* Stellic Rigth Section */





// Responsive CSS




@media (max-width:1280px) {
   
}
@media (max-width:1200px) {
}
@media (max-width:993px) {
}


@media  (max-width:768px) {
    .resp-dir {
        flex-direction: column-reverse;
    }
    .setllic-right {
        padding-top: 7%;
    }
    
    .login-btn {
        margin: 17px 0;
        padding: 15px 58px;
        font-size: 15px;
    }
    .powerd-area p {
        line-height: 19px;
    }
    section.settlic-main {
        padding: 23px;
    }
    .setllic-left{
        display: none;
    }
}

@media (max-width:576px) {
    .setllic-right .stellic-logo {
        width: 68%;
        padding: 30px 0 20px;
    }
    .setllic-right p {
        font-size: 14px;
    }
    .powerd-area p {
        top: 43px;
    }
}
@media (max-width:415px) {
    .settlic-main {
        padding-bottom: 0 !important;
    }
    .setllic-right p {
        font-size: 14px;
        padding: 0 0 30px;
    }

}
@media (max-width:376px) {
   
    .powerd-area p span {
        display: block;
        font-size: 0;
        line-height: 0;
    }
    .powerd-area p {
        top: 40px;
    }
}