<!-- <div class="container">
    <div class="row">
        <div class="col-md-08">
            <button mat-button color="primary" (click)="login();" *ngIf="!isLoggedIn()">SignIn Microsoft Account</button>
        </div>
            <div class="col-md-08">
            <button mat-button color="warn" (click)="logout();"  *ngIf="isLoggedIn()">Signout Microsoft Account</button>
        </div>
   </div>
     <div class="col-md-08" *ngIf="isLoggedIn()">
         <h3>Your are login in</h3>
     </div>
     <div class="col-md-08"  *ngIf="!isLoggedIn()">
         <h3>Your are not login in</h3>
     </div>
</div> -->
<section class="settlic-main">
    <div class="container-fluid p-0">
        <div class="row resp-dir align-items-center">
            <div class="col-lg-6">
                <!-- Login Rigth Section -->
                <div class="setllic-left" data-aos-duration="1000" data-aos="fade-left">
                    <img src="../../assets/img/image-content.jpg" class="img-fluid left-banner" alt="">
                </div>
                <!-- Login Rigth Section -->
            </div>

            <div class="col-lg-6">
                <!-- Login Left Section -->
                <div class="setllic-right">
                    <div class="logos-area">
                        <a href="javascript:;" class="main-logo">   
                            <img src="../../assets/img/mct-logo.svg" class="img-fluid stellic-logo" alt="" data-aos-duration="1200" data-aos="fade-down">
                        </a>
                        <!-- <a href="https://habib.edu.pk/" class="main-logo">   
                            <img src="../../assets/img/habib-logo.svg" class="img-fluid hb-logo" alt="" data-aos-duration="1000" data-aos="zoom-in">
                        </a> -->
                    </div>

                    <!-- <img src="img/stellic-logo.svg" class="img-fluid stellic-logo" alt="" data-aos-duration="1200" data-aos="fade-down"> -->
                    <h1>Powering the path to graduation</h1>
                    <p data-aos-duration="1200" data-aos="zoom-in">Degree management tool aligning students, advisors, administrators and leaders for advisement, pathways, schedule, audit and reports towards on-time graduation and student success.</p>
                    <!-- <a href="#" class="login-btn" (click)="login();" *ngIf="!isLoggedIn()">Login to HUIT</a> -->
                    
                    <button class="login-btn" mat-button color="primary" (click)="login();" *ngIf="!isLoggedIn()">SignIn Microsoft Account</button>
                </div>
                <!-- Login Left Section -->

            </div>

        </div>
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <div class="powerd-area">
                    <p>© Habib University <span>|</span> Powered by HUIT (ISO 27001 Certified)</p>
                </div>
            </div>
        </div>
    </div>
</section>