<!-- <app-header></app-header> -->
<div class="container">
    <div class="row"> 
        <div class="col-lg-12">
            <h1 class="term-title">​​​​​​​​​​​​​​​​​​​​​​​​​​​Welcome to the Meta-curricular Transcript (MCT) Portal !</h1>
        </div>
        <div class="col-lg-12 form-text">
            <p>This portal is developed to collect and verify the data of your best activities and achievements from outside the classroom for your Meta-curricular Transcript.</p> 
            <p>Your Meta-curricular Transcript will be a testimony to your diverse interests, talents and skills.​</p>
            <p>Please read the following instructions carefully before making your entries.</p>
            <h2>Overall Instructions</h2>
            <p>You need to take following <b>four</b> steps in order to provide proper data fo​r your Meta-curricular Transcript. ​</p>
            <h3> <span class="step-set"> Step 1:</span> Read and Understand Meta-curricular Categories</h3>
            <ol class="list-main">
                <li class="list-item">There are thirteen categories under which you may enter your activities and achievements for the MCT. These categories are mentioned on the following page.​</li>
                <li class="list-item">You may enter your activities in the categories for which you have significant involvement, engagement and experience. It is not necessary to fill in all categories.</li>
                <li class="list-item">Please read the description for each of the category carefully before you select any one of them.</li>
                <li class="list-item">Only those activities will be considered in which you participated during your tenure at Habib University. You may enter both the off and on-campus activities, experiences and achievements.</li>
            </ol>
            <h3><span class="step-set">Step 2:</span> ​Submitting Data of Your Activities</h3>
            <ol class="list-main">
            <li class="list-item">Begin by selecting any one category of the MCT that you have identified.</li>
            <li class="list-item">Click the ‘Select’ button present under the chosen category to start entering the data</li>
            <li class="list-item">A data form will open in a new tab of your browser for your selected category. Fill the necessary information related to your activities under this category.</li>
            <li class="list-item">Press ‘Submit’ after filling in all the required information and checking the ‘Undertaking and Submission’ button. An email will be received at your HU email address containing an ‘Edit’link. This link can be used to make changes later until the due date.</li>
            <li class="list-item">Your email will also contain a PDF copy of the data you submitted for verification. Please note you will receive one pdf file for each of the category for which you have input any data. It is most important that you save these pdf documents for record, verification and printing purposes.</li>
            <li class="list-item">You can use the steps mentioned-above to fill out a maximum of six entries for each category.</li>
            <li class="list-item">You can also choose any number of categories (as low as one and as many as thirteen) to input relevant information.</li>
            </ol>
            <h3>​<span class="step-set">Step 3:</span> ​Data Verification</h3>
            <ol class="list-main">
                <li class="list-item">Print the pdf document for each category of the MCT as received by you in your email. </li>
                <li class="list-item">Ask the supervisors for the respectiveactivities to verify your participation by signing off in the relevant boxes.</li>
                <li class="list-item">If the supervisor of any of your activities is no longer a part of Habib University, please request their replacements to verify your activities based on the data available with them. If, however, the replacement is unable to entertain your request, please contact the Office of Student Life for a possible verification.</li>
                <li class="list-item">In some instances, your supervisors may ask you to modify the data that you have input. In such cases, you may make changes on the print out taken to them for verification as long as it is duly signed-off by them. Do remember to make those changes in your on-line form through the edit link provided to you through email (see point number 4 in Step 2, mentioned-above).</li>
                <li class="list-item">Please note, that the verification process is relevant for all internal activities only i.e., activities that were organized by the University staff/faculty/student. External events are verified through certificates and other relevant documents.</li>
            </ol>
            <h3><span class="step-set">Step 4:</span> ​Submission of Verified Data</h3>
            <ol class="list-main">
                <li class="list-item disabled">After getting all the print-outs for each of the respective MCT categories signed by your respective supervisors, submit them to the Office of Student Life in a file folder mentioning your name, HU ID and contact number on the file folder.</li>
                <li class="list-item">Please ensure to submit one complete file folder containing all the relevant MCT category printouts and evidences. Office of Student Life will not accept individual entries or evidences.
                </li>
            </ol>
        </div>
        <div class="form-button">
            <button class="btn-accept" mat-flat-button  color="primary" (click)="acceptTermsAndConditions();">accepted term condition</button>         
        </div>
        
    </div>
</div>
