$headingColor:#5c2568;
$paragraphColor: #a7a7a7;

.container {
  padding: 50px;
}
h1 {
 text-align: center;
 color: $headingColor;
 font-weight: 500;
 font-weight: normal;
}
p{
    margin: 1px;
    padding: 1px;
    font-weight: normal;
}
h2{
    padding: 0;
    margin: 0;
    color: $headingColor;
    font-weight: normal;
}
h3{
    padding: 0;
    margin: 0;
    color: $headingColor;
    font-weight: normal;
}
.form-button{
    text-align: right;
}

.form-text h2, .form-text h3 {
    padding-top: 15px;
}
.list-main .list-item {
    line-height: 20px;
    padding-bottom: 7px;
}
.step-set{
    font-weight: 500;
}
.form-text h2 {
    font-size: 23px;
    font-weight: 600;
}
.form-text {
    padding: 20px;
    height: 432px;
    overflow-y: auto;
}
.term-title{
    text-align: center;
    color: #5c2568;
    font-weight: 500;
    font-weight: normal;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 27px;
}
.btn-accept {
    background-color: #5c2568 !important;
    border-radius: 0;
    margin-top: 35px;
}


@media(max-width:575px){
    .form-text {
        padding: 0px;
    }

    .term-title {
        font-size: 19px;
        line-height: 20px;
    }
}