<form [formGroup]="form">
    <div class="row">
        <div class="col-lg-12">
            <mat-form-field class="example-full-width">
                <mat-label>Category</mat-label>
                <mat-select (selectionChange)="CategoryOnChange($event)" formControlName="CategoryName">
                    <mat-option *ngFor="let c of this.allCategory" [value]="c.id">{{c.categoryName}}</mat-option>
                    <mat-option value="otherCategory">other</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-12">
            <mat-form-field *ngIf="Isdisplay =='otherCategory'">
                <mat-label>Please Enter Category</mat-label>
                <input matInput formControlName="OtherCategory">
              </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" *ngIf="Isdisplay !='otherCategory'">
            <p>{{this.description}}</p>   
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <mat-form-field class="example-full-width">
                <mat-label>{{this.ActivitylabelName}}</mat-label>
                <mat-select (selectionChange)="ActivityOnChange($event)" formControlName="ActivityName">
                    <mat-option *ngFor="let a of this.allActivity" [value]="a.id">{{a.activityName}}</mat-option>
                    <mat-option value="OtherActivity">other</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="example-full-width">
                <mat-label>{{this.fileds}}</mat-label>
                <mat-select (selectionChange)="PositionOnChange($event)"  formControlName="Position">
                    <mat-option *ngFor="let p of this.allPositions" [value]="p.id">{{p.positionName}}</mat-option>
                    <mat-option value="OtherPosition">other</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
        <mat-form-field  *ngIf="IsdisplyActivity =='OtherActivity';">
            <mat-label>Please Enter Activity</mat-label>
            <input matInput formControlName="OtherActivity">
        </mat-form-field>
        </div>
        <div class="col-lg-6">
        <mat-form-field  *ngIf="IsdisplyPosition =='OtherPosition';">
            <mat-label>Please Enter Position</mat-label>
            <input matInput formControlName="OtherPosition">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <mat-form-field class="example-full-width">
                <mat-label>From/Month</mat-label>
                <mat-select formControlName="FromMonth">
                    <mat-option value="Janunary">Janunary</mat-option>
                    <mat-option value="February">February</mat-option>
                    <mat-option value="March">March</mat-option>
                    <mat-option value="April">April</mat-option>
                    <mat-option value="June">June</mat-option>
                    <mat-option value="July">July</mat-option>
                    <mat-option value="August">August</mat-option>
                    <mat-option value="September">September</mat-option>
                    <mat-option value="October">October</mat-option>
                    <mat-option value="November">November</mat-option>
                    <mat-option value="December">December</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="example-full-width">
                <mat-label>Year</mat-label>
                <mat-select formControlName="FromYear">
                    <mat-option *ngFor="let y of this.allYears" [value]="y.id">{{y.years}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <mat-form-field class="example-full-width">
                <mat-label>To/Month</mat-label>
                <mat-select formControlName="ToMonth">
                    <mat-option value="Janunary">Janunary</mat-option>
                    <mat-option value="February">February</mat-option>
                    <mat-option value="March">March</mat-option>
                    <mat-option value="April">April</mat-option>
                    <mat-option value="June">June</mat-option>
                    <mat-option value="July">July</mat-option>
                    <mat-option value="August">August</mat-option>
                    <mat-option value="September">September</mat-option>
                    <mat-option value="October">October</mat-option>
                    <mat-option value="November">November</mat-option>
                    <mat-option value="December">December</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="example-full-width">
                <mat-label>Year</mat-label>
                <mat-select formControlName="ToYear">
                    <mat-option *ngFor="let y of this.allYears" [value]="y.id">{{y.years}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-08">
            <p>Was this activity INTERNAL i.e. organized by any Department/Office/ Registered Club/ HUSG of the University or EXTERNAL i.e. organized by any institution/organization/group outside Habib University?</p>
        </div>
    </div>
</form>