<ng-container [formGroup]="form">
  <div class="col-lg-12">
        <mat-form-field>
            <mat-label>Supervisor name</mat-label>
            <input type="text" matInput formControlName="SupervisorName">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Supervisor department</mat-label>
            <input type="text" matInput formControlName="SupervisorDepartment">
          </mat-form-field>
    </div>
    <div class="col-lg-12">
        <mat-form-field>
            <mat-label>Supervisor Email</mat-label>
            <input type="text" matInput formControlName="SupervisorEmail">
        </mat-form-field>
        
    </div>
    <div class="col-lg-12">
      <div class="form-group">
        <input type="file" id="file">
    </div>
  </div>
  </ng-container>