<mat-card *ngFor="let c of this.allComments">
    <mat-chip-list>
    <mat-chip color="primary" selected>Sumair</mat-chip>
    <mat-chip color="warn" selected>{{c.createdAt}}</mat-chip>
    </mat-chip-list>
    <br>
    <mat-divider></mat-divider>
    <p>{{c.comment}}</p>
        <mat-divider></mat-divider>
        <br>   
        <button mat-raised-button color="primary" (click)="resolveComment()">Resolved</button>
</mat-card>