<app-header></app-header>
<br>
<div class="container">
    <div class="row">
      <div class="col-lg-12">
       <h1>Meta-curricular Transcript (MCT) Form</h1>
      </div>
        <div class="col-lg-12">
            <ng-container [ngSwitch]="stepperOrientation | async">
            </ng-container>
            <mat-stepper linear #stepper class="example-stepper" [orientation]="(stepperOrientation | async)!">
             
              <mat-step [stepControl]="PersonalInformationFormGroup" label="Personal Information">
                    <form [formGroup]="PersonalInformationFormGroup" (ngSubmit)="SubmitPersonlInfo()">
                        <div class="col-lg-12">
                            <mat-form-field>
                                <mat-label>StudentID</mat-label>
                                <input matInput formControlName="Id" readonly>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Name</mat-label>
                                <input matInput formControlName="Name" readonly>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-12">
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="Email" readonly>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>School</mat-label>
                                <input matInput formControlName="SchoolName" readonly>
                              </mat-form-field>
                        </div>
                        <div class="col-lg-12">
                            <mat-form-field>
                                <mat-label>PhoneNumber</mat-label>
                                <input matInput mask="0000-0000000" [readonly]="disableInputField" formControlName="PhoneNumber">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Major</mat-label>
                                <input matInput [readonly]="disableInputField" formControlName="Major">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-12">
                            <mat-form-field>
                                <mat-label>Minor</mat-label>
                                <mat-select  formControlName="Minor">
                                  <mat-option disabled>--------</mat-option>
                                  <mat-option value="Computer Science"> Computer Science </mat-option>
                                  <mat-option value="Physics"> Physics </mat-option>
                                  <mat-option value="Mathematics"> Mathematics </mat-option>
                                  <mat-option value="Social Development and Policy"> Social Development and Policy </mat-option>
                                  <mat-option value="Communication Studies and Design"> Communication Studies and Design </mat-option>
                                  <mat-option value="English and Comparative Literature "> English and Comparative Literature </mat-option>
                                  <mat-option value="Philosophy"> Philosophy </mat-option>
                                  <mat-option value="History"> History </mat-option>
                                  <mat-option value="Religious Studies "> Religious Studies </mat-option>
                                  <mat-option value="None"> None </mat-option> 	
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col-lg-12">
                            <button mat-raised-button color="primary" matStepperNext>Next</button>
                        </div>
                    </form>
              </mat-step>
                
                <mat-step [stepControl]="MCTActivitiesFormGroup" label="MCT Activities">
                <ng-container [formGroup]="MCTActivitiesFormGroup">
                  <form formGroupName="MctBasicForm">
                    <div class="col-lg-12">
                         <mat-form-field>
                          <mat-label>Please Select Category</mat-label>
                            <mat-select (selectionChange)="CategoryOnChange($event)" formControlName="CategoryName">
                              <mat-option *ngFor="let c of this.allCategory" value="{{c.id}}">{{c.categoryName}}</mat-option>
                              <mat-option value="otherCategory">other</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col-lg-12"  *ngIf="Isdisplay =='otherCategory';">
                      <mat-form-field>
                        <mat-label>Please Enter Category</mat-label>
                        <input matInput formControlName="OtherCategory">
                      </mat-form-field>
                    </div>
                    <div class="col-lg-12" *ngIf="Isdisplay !='otherCategory';"> 
                      <p>{{this.description}}</p>
                    </div> 
                    <div class="col-lg-12">
                        <mat-form-field>
                            <mat-label>{{this.fileds}}</mat-label>
                            <mat-select (selectionChange)="ActivityOnChange($event)" formControlName="ActivityName">
                              <mat-option *ngFor="let a of this.allActivity" value="{{a.id}}">{{a.activityName}}</mat-option>
                              <mat-option value="OtherActivity">other</mat-option>
                            </mat-select>
                          </mat-form-field>
                          
                          <mat-form-field>
                            <mat-label>{{this.ActivitylabelName}}</mat-label>
                            <mat-select  (selectionChange)="PositionOnChange($event)" formControlName="Position">
                              <mat-option *ngFor="let p of this.allPositions" value="{{p.id}}">{{p.positionName}}</mat-option>
                              <mat-option value="OtherPosition">other</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col-lg-12">
                      <mat-form-field  *ngIf="IsdisplyActivity =='OtherActivity';">
                        <mat-label>Please Enter Activity</mat-label>
                        <input matInput formControlName="OtherActivity">
                      </mat-form-field>
                      <mat-form-field  *ngIf="IsdisplyPosition =='OtherPosition';">
                        <mat-label>Please Enter Position</mat-label>
                        <input matInput formControlName="OtherPosition">
                      </mat-form-field>
                    </div>
                    <div class="col-lg-12">
                        <mat-form-field>
                            <mat-label>From/Month</mat-label>
                            <mat-select formControlName="FromMonth">
                              <mat-option value="Janunary" selected>Janunary</mat-option>
                              <mat-option value="February" selected>February</mat-option>
                              <mat-option value="March" selected>March</mat-option>
                              <mat-option value="April" selected>April</mat-option>
                              <mat-option value="June" selected>June</mat-option>
                              <mat-option value="July" selected>July</mat-option>
                              <mat-option value="August" selected>August</mat-option>
                              <mat-option value="September" selected>September</mat-option>
                              <mat-option value="October" selected>October</mat-option>
                              <mat-option value="November" selected>November</mat-option>
                              <mat-option value="December" selected>December</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Year</mat-label>
                            <mat-select formControlName="FromYear">
                              <mat-option *ngFor="let y of this.allYears" value="{{y.id}}">{{y.years}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col-lg-12">
                        <mat-form-field>
                            <mat-label>To/Month</mat-label>
                            <mat-select formControlName="ToMonth">
                              <mat-option value="Janunary" selected>Janunary</mat-option>
                              <mat-option value="February" selected>February</mat-option>
                              <mat-option value="March" selected>March</mat-option>
                              <mat-option value="April" selected>April</mat-option>
                              <mat-option value="June" selected>June</mat-option>
                              <mat-option value="July" selected>July</mat-option>
                              <mat-option value="August" selected>August</mat-option>
                              <mat-option value="September" selected>September</mat-option>
                              <mat-option value="October" selected>October</mat-option>
                              <mat-option value="November" selected>November</mat-option>
                              <mat-option value="December" selected>December</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Year</mat-label>
                            <mat-select formControlName="ToYear">
                              <mat-option *ngFor="let y of this.allYears" value="{{y.id}}">{{y.years}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col-lg-12">
                        <p>Was this activity INTERNAL i.e. organized by any Department/Office/ Registered Club/ HUSG of the University or EXTERNAL i.e. organized by any institution/organization/group outside Habib University?</p>
                    </div>
                    <div class="col-lg-12">
                        <mat-radio-group aria-label="Select an option" formControlName="EventLocation">
                            <mat-radio-button value="1" (click)=activityLocationInternal()>INTERNAL</mat-radio-button>
                            <mat-radio-button value="2" (click)=activityLocationExternal()>EXTERNAL</mat-radio-button>
                          </mat-radio-group>
                    </div>
                    <div class="col-lg-12">
                      <app-internal *ngIf="isShow==1" formGroupName="InternalBasicFrom"></app-internal>
                      <app-external *ngIf="isShow==2" formGroupName="ExternalBasicFrom"></app-external>
                    </div>
                    <div class="col-lg-12">
                    <button mat-button color="accent" matStepperPrevious>Back</button>
                    <button mat-button color="primary" (click)="onSave(0)">Save</button>
                    <button mat-raised-button color="primary" matStepperNext>Submit</button>
                    </div>
                  </form>
                </ng-container>
                </mat-step>
             
                <mat-step [stepControl]="UnderTakingFormGroup" label="Undertaking & Submission">
                 <h3>Undertaking and Submission</h3>
                 <mat-divider></mat-divider>
                 <div class="col-lg-12 form-group radio-set">
                    <form [formGroup]="UnderTakingFormGroup">
                        <mat-checkbox formControlName="UnderTakingSubmit"></mat-checkbox>
                    </form>
                        <p>I undertake that I am submitting authentic data that reflects my actual meta-curricular participation and achievements. I assure that I have not submitted any fake information and /or document related to my meta-curricular participation. I understand that the University reserves the rights to take appropriate disciplinary action in case of submission of fake or misleading information and /or documents and that may affect my graduation.</p>
                 </div>
                 <div class="col-lg-12 form-group">
                    <button mat-button color="accent" matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary" (click)="onSave(1)">Submit</button>
                 </div>
                </mat-step>

            </mat-stepper>
        </div>
    </div>
</div>