$headingColor:#5c2568;
.container {
  text-align: center;
}
h1 {
    color: $headingColor;
    font-weight: 500;
    font-weight: normal;
   }

  .mat-form-field {
    margin-top: 16px;
    margin-right: 10px ;
  }
  p {
    color: $headingColor;
    text-indent: 30px;
    font-style:normal;
    word-wrap: break-word;
  }  
  mat-radio-button{
      margin-right: 10px;
  }
  .radio-set {
    width: 50%;
    margin: 22px auto 0;
  }
  mat-checkbox {
      display: flex;
  }

  